@font-face {
  font-family: "OptimaLTProRoman";
  src: url("../assets/OptimaLTProRoman.woff2") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: OptimaLTProRoman;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.8;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  scroll-padding-top: 65px;
}

img, a {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

a {
  color: #000;
  text-decoration: none;
}

nav a {
  color: #000;
}

ul {
  list-style-type: none;
}

@-webkit-keyframes zoom-out {
  from {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom-out {
  from {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  padding: 3rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  width: auto;
  position: relative;
  padding-right: 2.5rem;
  font-size: 0.875rem;
}

.header__link::before {
  content: "";
  position: absolute;
  right: 0;
  top: 47%;
  width: 15px;
  height: 1px;
  background-color: #000;
  -webkit-transform: translate(0px, -47%);
          transform: translate(0px, -47%);
}

.header__link::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 43%;
  width: 6px;
  height: 6px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg) translate(-1px, -43%);
          transform: rotate(45deg) translate(-1px, -43%);
}

@media (min-width: 768px) {
  .header {
    padding: 3rem 5rem;
  }
  .header__title {
    font-size: 1.75rem;
  }
}

@media (min-width: 1025px) {
  .header {
    padding: 3rem 8rem;
  }
}

.page__header {
  padding-top: 8rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .page__header {
    padding-top: 10rem;
  }
}

@media (min-width: 1025px) {
  .page__header {
    padding-top: 12rem;
    padding-bottom: 5rem;
  }
}

.page__header .header__title {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .page__header .header__title {
    font-size: 3rem;
  }
}

@media (min-width: 1025px) {
  .page__header .header__title {
    font-size: 4rem;
  }
}

.layout {
  padding: 3rem 1.5rem;
}

.layout__subheader {
  font-size: 0.75rem;
  position: relative;
  padding-left: 10px;
}

.layout__subheader::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: rgba(19, 25, 34, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.layout__subheader-wrapper {
  margin-bottom: 2rem;
}

.layout__subheader-item {
  font-size: 1.125rem;
  margin-top: 1rem;
}

.layout .card__text {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}

.layout .card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0;
}

.layout .card__info-wrapper {
  margin-top: 1.5rem;
  padding: 1.5rem 0 0;
  border-top: 1px solid #E3E3E3;
}

.layout .card__info-tell, .layout .card__info-mail {
  width: 5rem;
  color: rgba(19, 25, 34, 0.5);
}

.layout .card__access, .layout .card__address {
  color: rgba(19, 25, 34, 0.8);
}

.layout .card__access-subheader {
  padding-top: 0.75rem;
}

.layout .card__access-text {
  font-size: 0.75rem;
}

.layout .card__list-item {
  margin-top: 1.5rem;
  margin-left: 1.3rem;
  margin-bottom: 0.5rem;
}

.layout .card__list-wrapper {
  margin: 0.5rem 0;
}

.layout .card__list-header {
  font-size: 0.875rem;
}

.layout .card__list-data {
  font-size: 0.75rem;
}

.layout .card__heading {
  margin-bottom: 0.5rem;
}

.layout .card__button {
  font-size: 0.875rem;
  position: relative;
  display: inline;
  padding-right: 2rem;
}

.layout .card__button::before {
  content: "";
  position: absolute;
  right: 0;
  top: 47%;
  width: 15px;
  height: 1px;
  background-color: #000;
  -webkit-transform: translate(0px, -47%);
          transform: translate(0px, -47%);
}

.layout .card__button::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 43%;
  width: 6px;
  height: 6px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg) translate(-1px, -43%);
          transform: rotate(45deg) translate(-1px, -43%);
}

.layout .card__information {
  padding: 1rem 0;
  border-bottom: 1px solid #E3E3E3;
  font-size: 0.875rem;
}

.layout .card__main-information {
  color: rgba(19, 25, 34, 0.8);
}

@media (min-width: 768px) {
  .layout {
    padding: 3rem 5rem;
  }
}

@media (min-width: 1025px) {
  .layout {
    padding: 3rem 8rem;
  }
  .layout__info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .layout__subheader {
    font-size: 0.875rem;
  }
  .layout__subheader-wrapper {
    width: 40%;
    margin: 0;
  }
  .layout__subheader-item {
    font-size: 1.375rem;
  }
  .layout .card-wrapper {
    width: 55%;
    margin-top: 3rem;
  }
  .layout .card__info {
    font-size: 1.5rem;
  }
  .layout .card__list-item {
    font-size: 1.5rem;
    margin-left: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .layout .card__list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .layout .card__list-header {
    width: 50%;
  }
  .layout .card__list-data {
    font-size: 0.875rem;
  }
  .layout .card__heading {
    font-size: 1.375rem;
  }
  .layout .card__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5rem 0;
  }
  .layout .card__information:first-of-type {
    padding-top: 0;
  }
  .layout .card__main-information {
    width: 35%;
  }
  .layout .card__sub-information {
    width: 65%;
  }
}

.banner {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner__hero {
  background-color: black;
  display: none;
  -webkit-animation: zoom-out 8s linear, fade 8s linear;
          animation: zoom-out 8s linear, fade 8s linear;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__title {
  color: #fff;
  font-size: 1.25rem;
  margin: 1rem 1.5rem;
  line-height: 1.5;
}

.banner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem;
}

.banner .scroll-btn {
  color: #fff;
  font-size: 0.85rem;
  border: none;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
  background: transparent;
  cursor: pointer;
}

.banner .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .loader__circle {
  background-color: transparent;
  margin: 0.85rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  height: 8px;
  width: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.banner .loader .svg {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotateY(-180deg) rotateZ(-90deg);
          transform: rotateY(-180deg) rotateZ(-90deg);
}

.banner .loader .svg__circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 0px;
  stroke: #fff;
  fill: none;
}

.banner .is-active.loader__circle {
  background-color: #fff;
}

.banner .is-active .svg__circle {
  stroke-width: 1px;
  -webkit-animation: countdown 8s linear forwards;
          animation: countdown 8s linear forwards;
}

.banner .hero1 {
  background-image: url(../assets/mobile/index/mv01-sp.jpg);
}

.banner .hero2 {
  background-image: url(../assets/mobile/index/mv02-sp.jpg);
}

.banner .hero3 {
  background-image: url(../assets/mobile/index/mv03-sp.jpg);
}

.banner .hero4 {
  background-image: url(../assets/mobile/index/mv04-sp.jpg);
}

@media (min-width: 768px) {
  .banner__title {
    margin: 2rem 5rem;
    font-size: 2rem;
  }
  .banner__info {
    margin: 3rem 5rem;
  }
  .banner .loader__circle {
    width: 10px;
    height: 10px;
    margin: 1.5rem;
  }
  .banner .loader .svg {
    width: 32.5px;
    height: 32.5px;
  }
  .banner .loader .svg__circle {
    r: 12.5;
    cx: 16.5;
    cy: 16.5;
  }
  .banner .scroll-btn {
    font-size: 1rem;
  }
}

@media (min-width: 1025px) {
  .banner__title {
    margin: 1rem 5rem;
  }
  .banner__info {
    margin: 1rem 5rem 3rem;
  }
  .banner .scroll-btn {
    font-size: 0.825rem;
  }
  .banner .loader__circle {
    width: 8px;
    height: 8px;
    margin: 1.5rem;
  }
  .banner .loader .svg {
    width: 30px;
    height: 30px;
  }
  .banner .loader .svg__circle {
    r: 10.5;
    cx: 14.5;
    cy: 14.5;
  }
  .banner .hero1 {
    background-image: url(../assets/desktop/index/mv01@2x.jpg);
  }
  .banner .hero2 {
    background-image: url(../assets/desktop/index/mv02@2x.jpg);
  }
  .banner .hero3 {
    background-image: url(../assets/desktop/index/mv03@2x.jpg);
  }
  .banner .hero4 {
    background-image: url(../assets/desktop/index/mv04@2x.jpg);
  }
}

.parallax {
  padding: 3rem 1.5rem;
  position: relative;
  background-image: url(../assets/mobile/index/followus-sp.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.parallax__wrapper {
  width: 100%;
  color: #fff;
}

.parallax .box {
  width: 100%;
  height: 100%;
  padding: 10% 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
  overflow: hidden;
}

.parallax .box__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 1.5rem 0;
}

.parallax .box__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.parallax .box__link .fab {
  padding: 1rem;
  font-size: 2rem;
}

.parallax .box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.parallax .box1 {
  background-image: url(../assets/mobile/index/facebook-sp.jpg);
}

.parallax .box2 {
  background-image: url(../assets/mobile/index/instagram-sp.jpg);
}

.parallax .box3 {
  background-image: url(../assets/mobile/index/twitter-sp.jpg);
}

@media (min-width: 768px) {
  .parallax {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .parallax__wrapper {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .parallax__title {
    width: 100%;
    font-size: 1.75rem;
  }
  .parallax .box {
    width: 100%;
    padding: 30% 2rem;
  }
  .parallax .box__wrapper {
    width: 33%;
    overflow: hidden;
  }
}

@media (min-width: 1025px) {
  .parallax {
    background-image: url(../assets/desktop/index/followus@2x.jpg);
  }
  .parallax__wrapper {
    margin: 4rem 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .parallax__title {
    width: 26%;
  }
  .parallax .box__wrapper {
    width: 24%;
    margin: 0;
  }
  .parallax .box1 {
    background-image: url(../assets/desktop/index/facebook@2x.jpg);
  }
  .parallax .box2 {
    background-image: url(../assets/desktop/index/instagram@2x.jpg);
  }
  .parallax .box3 {
    background-image: url(../assets/desktop/index/twitter@2x.jpg);
  }
}

.pages {
  padding: 1rem;
  text-align: center;
}

.pages .card {
  padding: 3rem 0;
  position: relative;
}

.pages .card__title {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.pages .card__info {
  font-size: 0.75rem;
}

.pages .card__link {
  margin-top: 2rem;
  border-bottom: 1px solid #E3E3E3;
  padding: 0.5rem;
  display: inline-block;
}

.pages .contact-us {
  border-top: 1px solid #E3E3E3;
}

@media (min-width: 768px) {
  .pages {
    padding: 3rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pages .card {
    width: 50%;
  }
  .pages .card__title {
    font-size: 1.5rem;
  }
  .pages .contact-us {
    border-top: none;
    border-left: 1px solid #E3E3E3;
  }
}

@media (min-width: 1025px) {
  .pages {
    padding: 6rem 1rem;
  }
  .pages .card {
    width: 50%;
  }
  .pages .card__title {
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }
}

.journal {
  padding: 0rem 1.5rem 3rem;
}

.journal .blog {
  overflow: hidden;
}

.journal .blog__image {
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}

.journal .blog__image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.journal .blog__info {
  margin: 0.5rem 0;
}

.journal .blog__date {
  color: rgba(19, 25, 34, 0.5);
  font-size: 0.75rem;
}

.journal .blog__title {
  padding: 0.25rem 0;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .journal {
    padding: 0rem 5rem 3rem;
  }
  .journal__blog-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .journal .blog {
    margin-right: 2rem;
    width: 45%;
  }
}

@media (min-width: 1025px) {
  .journal {
    padding: 0rem 8rem 3rem;
  }
  .journal .blog {
    width: 35%;
  }
  .journal .blog__title {
    font-size: 0.875rem;
  }
}

.next {
  position: relative;
  margin-top: 5rem;
}

.next-container {
  overflow: hidden;
}

.next__image {
  background-image: url(../assets/mobile/kurumeKasuri/link-sp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem 0;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.next__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.next__text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.next__heading {
  font-size: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.next__link {
  position: relative;
  padding-right: 2rem;
}

.next__link::before {
  content: "";
  position: absolute;
  right: 0;
  top: 47%;
  width: 15px;
  height: 1px;
  background-color: #fff;
  -webkit-transform: translate(0px, -47%);
          transform: translate(0px, -47%);
}

.next__link::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 43%;
  width: 6px;
  height: 6px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg) translate(-1px, -43%);
          transform: rotate(45deg) translate(-1px, -43%);
}

@media (min-width: 768px) {
  .next__image {
    padding: 10rem 0;
  }
  .next__heading {
    font-size: 2.75rem;
  }
  .next__link {
    font-size: 1.25rem;
  }
}

@media (min-width: 1025px) {
  .next {
    margin-top: 10rem;
    position: relative;
  }
  .next__image {
    background-image: url(../assets/desktop/kurumeKasuri/link@2x.jpg);
    padding: 15rem;
  }
  .next__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0 15rem;
  }
  .next__heading {
    font-size: 3.75rem;
  }
}

.article {
  padding: 0rem 1.5rem 3rem;
}

.article__date {
  color: rgba(19, 25, 34, 0.5);
  font-size: 0.75rem;
}

.article__title {
  padding: 0.5rem 0;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.article .card-wrapper {
  margin-top: 2rem;
}

.article__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__prev {
  width: auto;
  position: relative;
  font-size: .875rem;
  padding-left: 1.5rem !important;
}

.article__prev::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  width: 15px;
  height: 1px;
  background-color: #000;
  -webkit-transform: translate(0px, -45%);
          transform: translate(0px, -45%);
}

.article__prev::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 2px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  -webkit-transform: rotate(-45deg) translate(-1px, -40%);
          transform: rotate(-45deg) translate(-1px, -40%);
}

.article__next {
  width: auto;
  position: relative;
  font-size: .875rem;
  padding-right: 1.5rem !important;
}

.article__next::before {
  content: "";
  position: absolute;
  right: 0;
  top: 45%;
  width: 15px;
  height: 1px;
  background-color: #000;
  -webkit-transform: translate(0px, -45%);
          transform: translate(0px, -45%);
}

.article__next::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 44%;
  width: 6px;
  height: 6px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg) translate(-1px, -44%);
          transform: rotate(45deg) translate(-1px, -44%);
}

.article__back {
  font-size: .875rem;
  width: auto;
}

@media (min-width: 768px) {
  .article {
    padding: 0rem 5rem 3rem;
  }
}

@media (min-width: 1025px) {
  .article {
    padding: 0rem 8rem 3rem;
  }
  .article__blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .article__info {
    width: 35%;
  }
  .article__card {
    width: 60%;
    height: 100%;
  }
  .article .card-wrapper {
    width: 100%;
  }
}

.pagination {
  text-align: center;
  padding: 3rem 0;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
}

.pagination a {
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 10px;
}

@media (min-width: 1025px) {
  .pagination a:hover {
    background-color: #E3E3E3;
  }
}

.pagination .is-active {
  background: #131922;
  color: #fff;
}

.pagination .is-disabled {
  color: #d3d3d3;
  pointer-events: none;
}

.pagination .is-disabled::before {
  background-color: #d3d3d3;
}

.pagination .is-disabled::after {
  border-color: #d3d3d3;
}

@media (min-width: 768px) {
  .pagination {
    padding: 5rem 0;
  }
}

.story {
  line-height: 1.8;
  margin: 2rem 0;
}

.story .card__subheader {
  font-size: 0.75rem;
  position: relative;
  padding-left: 10px;
}

.story .card__subheader::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: rgba(19, 25, 34, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.story .card__subheader-item {
  font-size: 1.375rem;
  margin-top: 1rem;
}

.story .card-wrapper {
  padding: 1.5rem;
}

.story .card__text {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}

.story .card__heading {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.story .card__button {
  font-size: 0.875rem;
  position: relative;
  display: inline;
  padding-right: 2rem;
}

.story .card__button::before {
  content: "";
  position: absolute;
  right: 0;
  top: 47%;
  width: 15px;
  height: 1px;
  background-color: #000;
  -webkit-transform: translate(0px, -47%);
          transform: translate(0px, -47%);
}

.story .card__button::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 43%;
  width: 6px;
  height: 6px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg) translate(-1px, -43%);
          transform: rotate(45deg) translate(-1px, -43%);
}

@media (min-width: 768px) {
  .story .card-wrapper {
    padding: 1.5rem 5rem;
  }
}

@media (min-width: 1025px) {
  .story {
    margin: 5rem 0;
  }
  .story-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .story__image {
    width: 40%;
  }
  .story .card-wrapper {
    width: 45%;
  }
  .story .card__subheader {
    font-size: .875rem;
  }
  .story .card__subheader-item {
    font-size: 1.6875rem;
  }
  .story .card__heading {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
  .toursWorkshop .story-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.carousel {
  position: relative;
}

.carousel .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.carousel .slider__slide {
  min-width: 100vw;
  width: 100%;
}

.carousel .buttons {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.carousel .right-arrow,
.carousel .left-arrow {
  border: 1px solid #E5E5E5;
  background-color: transparent;
  color: #E5E5E5;
  cursor: pointer;
  padding: 0.875rem;
  border-radius: 50%;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .carousel .right-arrow,
  .carousel .left-arrow {
    padding: 1.5rem;
  }
}

@media (min-width: 1025px) {
  .carousel .buttons {
    padding: 0 3rem;
  }
  .carousel .right-arrow:hover,
  .carousel .left-arrow:hover {
    background-color: #E5E5E5;
    color: #000;
  }
}

.gallery-slider {
  overflow: hidden;
}

.gallery-slider.cloth-gallery .galleria__item {
  border: none;
}

.gallery-slider .galleria {
  width: 100vw;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery-slider .galleria__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
  -ms-touch-action: none;
      touch-action: none;
}

.gallery-slider .galleria__inner:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.gallery-slider .galleria__item {
  border: 1px solid #E3E3E3;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  padding: 0 1rem;
}

.gallery-slider .galleria__item-img {
  border: 1px solid #E3E3E3;
  margin-top: 1rem;
}

.gallery-slider .galleria__item:first-of-type {
  margin-left: 1.5rem;
}

.gallery-slider .galleria__item-heading {
  font-size: 1.125rem;
  padding: 1rem 0 0.5rem;
  position: relative;
  overflow: hidden;
}

.gallery-slider .galleria__item-heading::after {
  content: "";
  position: absolute;
  top: 55%;
  width: 100%;
  height: 1px;
  background-color: #E3E3E3;
  margin-left: 10px;
}

.gallery-slider .galleria__item .number {
  font-size: 0.75rem;
  padding-right: 0.5rem;
}

.gallery-slider .galleria__item-desc {
  font-size: 0.75rem;
  padding: 0.5rem 0rem 3rem;
}

@media (min-width: 768px) {
  .gallery-slider .galleria__item:first-of-type {
    margin-left: 5rem;
  }
}

@media (min-width: 1025px) {
  .gallery-slider .galleria__item:first-of-type {
    margin-left: 8rem;
  }
}

.main-nav {
  -webkit-transition: background-color 0.5s, padding 0.5s;
  transition: background-color 0.5s, padding 0.5s;
  position: fixed;
  width: 100%;
  padding: 1.5rem;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-nav__list {
  display: none;
}

.main-nav .logo {
  width: 7.5rem;
  z-index: 9;
}

.main-nav .logo-inner {
  fill: #000;
}

.main-nav .logo-white {
  fill: #fff;
}

.main-nav .lang {
  margin-right: 1.25rem;
  color: #000;
  font-size: 0.85rem;
}

.main-nav .lang__item {
  margin: 0.25rem;
  color: #000;
}

.main-nav .lang-white {
  color: #fff;
}

.main-nav .lang .is-active {
  border-bottom: 1px solid #fff;
}

.main-nav .toggler {
  background-color: #fff;
  width: 3rem;
  border: 1px solid #E5E5E5;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 9;
}

.main-nav .toggler span {
  width: 50%;
  height: 1px;
  background-color: #000;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  border-radius: 9px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.main-nav .toggler-transparent {
  background-color: transparent;
}

.main-nav .toggler-transparent span {
  background-color: #fff;
}

.main-nav .toggler__bar1 {
  top: 45%;
}

.main-nav .toggler__bar2 {
  top: 55%;
}

.main-nav .is-open .toggler__bar1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  left: 25%;
}

.main-nav .is-open .toggler__bar2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  left: 25%;
}

.main-nav .is-white {
  fill: #fff;
}

.nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #131922;
  overflow: auto;
  z-index: 8;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-overlay__wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 5rem;
}

.nav-overlay__content {
  padding: 2rem 1.5rem;
  position: relative;
  z-index: 9;
  width: 100%;
}

.nav-overlay__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-overlay__links {
  font-size: 1.65rem;
  line-height: 3rem;
  letter-spacing: 2px;
  color: #fff;
}

.nav-overlay__image {
  position: fixed;
  top: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background-image: url(../assets/desktop/index/home@2x.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: block;
  -webkit-animation: zoom-out 3s;
          animation: zoom-out 3s;
}

.nav-overlay__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-overlay .lang {
  color: #fff;
  font-size: 0.85rem;
}

.nav-overlay .lang__item {
  color: #fff;
}

.nav-overlay .lang .is-active {
  border-bottom: 1px solid #fff;
}

.nav-overlay .social {
  padding: 2rem 0;
  font-size: 0.75rem;
}

.nav-overlay .social__links {
  color: #fff;
  padding-right: 1.5rem;
}

.nav-overlay .social .fab {
  padding-right: 0.5rem;
}

.nav-overlay .copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85rem;
}

@media (min-width: 768px) {
  .main-nav {
    padding: 3rem 5rem;
  }
  .main-nav .logo {
    width: 10rem;
  }
  .main-nav .toggler {
    width: 3.5rem;
    height: 3.5rem;
  }
  .main-nav .lang {
    margin-right: 2rem;
    font-size: 1.15rem;
  }
  .main-nav .lang__item {
    font-size: 1.05rem;
  }
  .nav-overlay__content {
    padding: 5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: flex;
  }
  .nav-overlay__item {
    padding: 1.5rem 0;
  }
  .nav-overlay__links {
    font-size: 1.75rem;
    line-height: 1rem;
  }
  .nav-overlay__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-overlay .social {
    padding: 4rem 0;
    font-size: 1.05rem;
  }
  .nav-overlay .social a {
    padding-right: 3rem;
  }
  .nav-overlay .social i {
    padding-right: 1.05rem;
  }
  .nav-overlay .copyright {
    font-size: 1.05rem;
  }
}

@media (min-width: 1025px) {
  .main-nav__wrapper {
    width: 80%;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.825rem;
  }
  .main-nav__item {
    margin: 0 1rem;
    text-align: center;
  }
  .main-nav__links {
    color: #fff;
  }
  .main-nav .toggler {
    width: 3rem;
    height: 3rem;
  }
  .main-nav .lang {
    margin-right: 2rem;
    font-size: 0.85rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav .lang__item {
    font-size: 0.825rem;
  }
  .nav-overlay__item {
    padding: 0.5rem 0;
  }
  .nav-overlay__links {
    line-height: 3rem;
  }
  .nav-overlay__content {
    padding: 1rem 5rem;
  }
  .nav-overlay__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-overlay__image {
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1;
  }
  .nav-overlay .social {
    padding: 2rem 0;
    font-size: 0.825rem;
  }
  .nav-overlay .copyright {
    font-size: 0.825rem;
  }
  .nav-overlay .lang {
    margin-right: 2rem;
    font-size: 0.85rem;
  }
  .nav-overlay .lang__item {
    font-size: 0.825rem;
  }
  .nav-overlay .about-img {
    background-image: url(../assets/desktop/index/about@2x.jpg);
  }
  .nav-overlay .tours-img {
    background-image: url(../assets/desktop/index/tours-and-workshop@2x.jpg);
  }
  .nav-overlay .kurume-img {
    background-image: url(../assets/desktop/index/kurume-kasuri@2x.jpg);
  }
  .nav-overlay .contact-img {
    background-image: url(../assets/desktop/index/contact@2x.jpg);
  }
  .nav-overlay .journal-img {
    background-image: url(../assets/desktop/index/journal@2x.jpg);
  }
  .nav-overlay .shop-img {
    background-image: url(../assets/desktop/index/onlineshop@2x.jpg);
  }
}

@media (min-width: 1201px) {
  .main-nav__item {
    margin-right: 1.5rem;
  }
}

.is-scrolled {
  background-color: #131922;
  padding: 0.5rem 1.5rem;
}

@media (min-width: 768px) {
  .is-scrolled {
    padding: 1rem 5rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #131922;
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer__logo {
  width: 4rem;
  margin: 2rem;
}

.footer .logo-inner {
  fill: #fff;
}

.footer__content {
  width: 100%;
  background-color: #0D1117;
}

.footer__list-wrapper {
  position: relative;
  padding: 2rem 1.5rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__item {
  min-width: 40%;
  padding: 1rem 0;
  font-size: 0.875rem;
}

.footer__info {
  padding: 0 1.5rem;
  font-size: 0.7rem;
}

.footer__info::before {
  content: "";
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  padding: 0 1.5rem;
}

.footer .social {
  padding: 2rem 0;
}

.footer .social__item {
  padding-right: 1.5rem;
}

.footer .social .fab {
  padding-right: 0.5rem;
}

.footer .copyright {
  padding: 1rem 0 3rem;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
  .footer__logo {
    width: 5rem;
  }
  .footer__list-wrapper {
    padding: 2rem 5rem;
  }
  .footer__item {
    font-size: 1rem;
  }
  .footer__info {
    padding: 0 5rem;
    font-size: 0.875rem;
  }
}

@media (min-width: 1025px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__logo {
    width: 25%;
    text-align: center;
  }
  .footer .svg {
    width: 6rem;
  }
  .footer__list-wrapper {
    padding: 4rem 3rem;
  }
  .footer__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer__item {
    min-width: auto;
    padding: 0;
    font-size: 0.825rem;
  }
  .footer__info {
    position: relative;
    padding: 0 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.7rem;
  }
  .footer__info::before {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    width: calc(100% - 6rem);
    padding: 0;
  }
  .footer .social {
    padding: 4rem 0;
  }
  .footer .social__item {
    padding-right: 3rem;
  }
  .footer .copyright {
    padding: 0;
  }
}

@media (min-width: 1201px) {
  .footer__list-wrapper {
    padding: 4rem 5rem;
  }
  .footer__info {
    padding: 0 5rem;
  }
  .footer__info::before {
    width: calc(100% - 10rem);
  }
}

.future {
  margin-top: 1rem;
}

.future .layout__subheader-item {
  font-size: 2.125rem;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__image--1 {
  width: 70%;
}

.gallery__image--2 {
  width: 60%;
  padding: 1.5rem;
}

.gallery__image--3 {
  width: 40%;
  margin-top: -2.5rem;
  margin-bottom: auto;
}

.gallery__image--4 {
  width: 70%;
  margin-left: auto;
}

@media (min-width: 1025px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery__image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery__image--1 {
    width: 70%;
  }
  .gallery__image--2 {
    width: 60%;
    padding: 10rem 10rem 0rem 4rem;
  }
  .gallery__image--3 {
    width: 30%;
    margin-top: -20rem;
    margin-bottom: auto;
    margin-right: 4rem;
  }
  .gallery__image--4 {
    width: 40%;
    margin-left: auto;
    margin-right: 4rem;
    margin-top: -10rem;
  }
}

.journal-section {
  background-color: #F6F6F6;
}

.contact {
  padding-top: 1rem;
}

@media (min-width: 1025px) {
  .contact {
    padding-top: 0rem;
  }
}

.access {
  background-color: #F6F6F6;
}

.access .card__info {
  border-bottom: 1px solid #E3E3E3;
  padding-bottom: 1rem;
  margin-top: 1rem;
  display: block;
  font-size: .875rem;
  padding-top: 0;
}

.workshop {
  border-bottom: 1px solid #E3E3E3;
}

.how-workshop .card__text:not(:last-of-type) {
  border-bottom: 1px solid #E3E3E3;
  padding-bottom: 1.5rem;
}

@media (min-width: 1025px) {
  .how-workshop .card-wrapper {
    margin-top: 1.5rem;
  }
  .how-workshop .card__list-item:first-of-type {
    margin-top: 0;
  }
}

.next-about .next__image {
  background-image: url(../assets/mobile/about/link-sp.jpg);
}

@media (min-width: 1025px) {
  .next-about .next__image {
    background-image: url(../assets/desktop/about/link@2x.jpg);
  }
}

.new-line {
  display: block;
}

.padding-right {
  padding-right: 1.5rem;
}

@media (min-width: 768px) {
  .padding-right {
    padding-right: 5rem;
  }
}

@media (min-width: 1025px) {
  .padding-right {
    padding-right: 8rem;
  }
}

.padding-left {
  padding-left: 1.5rem;
}

@media (min-width: 768px) {
  .padding-left {
    padding-left: 5rem;
  }
}

@media (min-width: 1025px) {
  .padding-left {
    padding-left: 8rem;
  }
}

.hidden {
  opacity: 0;
}

.fade-in-element {
  -webkit-animation: fade-in 2s 500ms backwards;
          animation: fade-in 2s 500ms backwards;
}
/*# sourceMappingURL=main.css.map */