@font-face {
  font-family: "OptimaLTProRoman";
  src: url("../../OptimaLTProRoman.woff2") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: OptimaLTProRoman;
  font-weight: 400;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

img, a {
  width: 100%;
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

nav a {
  color: #000;
}

ul {
  list-style-type: none;
}

@-webkit-keyframes zoom-out {
  from {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom-out {
  from {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.banner {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner__hero {
  background-color: black;
  display: none;
  -webkit-animation: zoom-out 8s linear, fade 8s linear;
          animation: zoom-out 8s linear, fade 8s linear;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__title {
  color: #fff;
  font-size: 1.25rem;
  margin: 1rem 1.5rem;
  line-height: 1.5;
}

.banner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem;
}

.banner .scroll-btn {
  color: #fff;
  font-size: 0.85rem;
  border: none;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
  background: transparent;
  cursor: pointer;
}

.banner .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .loader__circle {
  background-color: transparent;
  margin: 0.85rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  height: 8px;
  width: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.banner .loader .svg {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotateY(-180deg) rotateZ(-90deg);
          transform: rotateY(-180deg) rotateZ(-90deg);
}

.banner .loader .svg__circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 0px;
  stroke: #fff;
  fill: none;
}

.banner .is-active.loader__circle {
  background-color: #fff;
}

.banner .is-active .svg__circle {
  stroke-width: 1px;
  -webkit-animation: countdown 8s linear forwards;
          animation: countdown 8s linear forwards;
}

.banner .hero1 {
  background-image: url(../../assets/mobile/hero1.jpg);
}

.banner .hero2 {
  background-image: url(../../assets/mobile/hero2.jpg);
}

.banner .hero3 {
  background-image: url(../../assets/mobile/hero3.jpg);
}

.banner .hero4 {
  background-image: url(../../assets/mobile/hero4.jpg);
}

@media (min-width: 768px) {
  .banner__title {
    margin: 2rem 5rem;
    font-size: 2rem;
  }
  .banner__info {
    margin: 3rem 5rem;
  }
  .banner .loader__circle {
    width: 10px;
    height: 10px;
    margin: 1.5rem;
  }
  .banner .loader .svg {
    width: 32.5px;
    height: 32.5px;
  }
  .banner .loader .svg__circle {
    r: 12.5;
    cx: 16.5;
    cy: 16.5;
  }
  .banner .scroll-btn {
    font-size: 1rem;
  }
}

@media (min-width: 1025px) {
  .banner__title {
    margin: 1rem 5rem;
  }
  .banner__info {
    margin: 1rem 5rem 3rem;
  }
  .banner .scroll-btn {
    font-size: 0.825rem;
  }
  .banner .loader__circle {
    width: 8px;
    height: 8px;
    margin: 1.5rem;
  }
  .banner .loader .svg {
    width: 30px;
    height: 30px;
  }
  .banner .loader .svg__circle {
    r: 10;
    cx: 15;
    cy: 15;
  }
  .banner .hero1 {
    background-image: url(../../assets/desktop/hero1.jpg);
  }
  .banner .hero2 {
    background-image: url(../../assets/desktop/hero2.jpg);
  }
  .banner .hero3 {
    background-image: url(../../assets/desktop/hero3.jpg);
  }
  .banner .hero4 {
    background-image: url(../../assets/desktop/hero4.jpg);
  }
}

.parallax {
  padding: 3rem 1.5rem;
  position: relative;
  background-image: url(../../assets/mobile/followus.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.parallax__wrapper {
  width: 100%;
  color: #fff;
}

.parallax .box {
  width: 100%;
  height: 100%;
  padding: 10% 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
  overflow: hidden;
}

.parallax .box__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 1.5rem 0;
}

.parallax .box__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.parallax .box__link .fab {
  padding: 1rem;
  font-size: 2rem;
}

.parallax .box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.parallax .box1 {
  background-image: url(../../assets/mobile/facebook-sp.jpg);
}

.parallax .box2 {
  background-image: url(../../assets/mobile/instagram-sp.jpg);
}

.parallax .box3 {
  background-image: url(../../assets/mobile/twitter-sp.jpg);
}

@media (min-width: 768px) {
  .parallax {
    background-image: url(../../assets/desktop/followus.jpg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .parallax__wrapper {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .parallax__title {
    width: 100%;
    font-size: 1.75rem;
  }
  .parallax .box {
    width: 100%;
    padding: 30% 2rem;
  }
  .parallax .box__wrapper {
    width: 33%;
    overflow: hidden;
  }
}

@media (min-width: 1025px) {
  .parallax__wrapper {
    margin: 4rem 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .parallax__title {
    width: 26%;
  }
  .parallax .box__wrapper {
    width: 24%;
    margin: 0;
  }
}

.pages {
  padding: 1rem;
  text-align: center;
}

.pages .card {
  padding: 3rem 0;
  position: relative;
}

.pages .card__title {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.pages .card__info {
  font-size: 0.75rem;
}

.pages .card__link {
  margin-top: 2rem;
  border-bottom: 1px solid #E3E3E3;
  padding: 0.5rem;
  display: inline-block;
}

.pages .contact {
  border-top: 1px solid #E3E3E3;
}

@media (min-width: 1025px) {
  .pages {
    padding: 6rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pages .card {
    width: 50%;
  }
  .pages .card__title {
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }
  .pages .contact {
    border-top: none;
    border-left: 1px solid #E3E3E3;
  }
}

.journal {
  padding: 3rem 1.5rem;
}

.journal__header {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.journal__link {
  width: auto;
  position: relative;
  padding-right: 2.5rem;
  font-size: 0.875rem;
}

.journal__link::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 1px;
  background-color: #000;
  -webkit-transform: translate(0px, 6px);
          transform: translate(0px, 6px);
}

.journal__link::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 8px;
  height: 8px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg) translate(1px, 2px);
          transform: rotate(45deg) translate(1px, 2px);
}

.journal .blog {
  overflow: hidden;
}

.journal .blog__image {
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}

.journal .blog__image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.journal .blog__info {
  margin: 0.5rem 0;
}

.journal .blog__date {
  color: rgba(19, 25, 34, 0.5);
}

.journal .blog__title {
  padding: 0.25rem 0;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .journal {
    padding: 3rem 5rem;
  }
  .journal .blog {
    width: 45%;
  }
}

@media (min-width: 1025px) {
  .journal .blog {
    width: 30%;
  }
}

.main-nav {
  -webkit-transition: background-color 0.5s, padding 0.5s;
  transition: background-color 0.5s, padding 0.5s;
  position: fixed;
  width: 100%;
  padding: 1.5rem;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-nav__list {
  display: none;
}

.main-nav .logo {
  width: 7.5rem;
  z-index: 9;
}

.main-nav .logo-inner {
  fill: #000;
}

.main-nav .logo-white {
  fill: white;
}

.main-nav .lang {
  margin-right: 1.25rem;
  color: #000;
  font-size: 0.85rem;
}

.main-nav .lang__item {
  padding: 0.25rem;
  color: #000;
}

.main-nav .lang-white {
  color: white;
}

.main-nav .toggler {
  background-color: #fff;
  width: 3rem;
  border: 1px solid #E5E5E5;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 9;
}

.main-nav .toggler span {
  width: 50%;
  height: 1px;
  background-color: #000;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  border-radius: 9px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.main-nav .toggler-transparent {
  background-color: transparent;
}

.main-nav .toggler-transparent span {
  background-color: #fff;
}

.main-nav .toggler__bar1 {
  top: 45%;
}

.main-nav .toggler__bar2 {
  top: 55%;
}

.main-nav .is-open .toggler__bar1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  left: 25%;
}

.main-nav .is-open .toggler__bar2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  left: 25%;
}

.nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #131922;
  overflow: auto;
  z-index: 8;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-overlay__wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 5rem;
}

.nav-overlay__content {
  padding: 2rem 1.5rem;
  position: relative;
  z-index: 9;
  width: 100%;
}

.nav-overlay__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-overlay__links {
  font-size: 1.65rem;
  line-height: 3rem;
  letter-spacing: 2px;
  color: #fff;
}

.nav-overlay__image {
  position: fixed;
  top: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/desktop/home.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: block;
}

.nav-overlay__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-overlay .lang {
  color: #fff;
}

.nav-overlay .lang__item {
  color: #fff;
}

.nav-overlay .social {
  padding: 2rem 0;
  font-size: 0.75rem;
}

.nav-overlay .social__links {
  color: #fff;
  padding-right: 1.5rem;
}

.nav-overlay .social .fab {
  padding-right: 0.5rem;
}

.nav-overlay .copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85rem;
}

@media (min-width: 768px) {
  .main-nav {
    padding: 3rem 5rem;
  }
  .main-nav .logo {
    width: 10rem;
  }
  .main-nav .toggler {
    width: 3.5rem;
    height: 3.5rem;
  }
  .main-nav .lang {
    margin-right: 2rem;
    font-size: 1.15rem;
  }
  .main-nav .lang__item {
    font-size: 1.05rem;
  }
  .nav-overlay__content {
    padding: 5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: flex;
  }
  .nav-overlay__item {
    padding: 1.5rem 0;
  }
  .nav-overlay__links {
    font-size: 1.75rem;
    line-height: 1rem;
  }
  .nav-overlay__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-overlay .social {
    padding: 4rem 0;
    font-size: 1.05rem;
  }
  .nav-overlay .social a {
    padding-right: 3rem;
  }
  .nav-overlay .social i {
    padding-right: 1.05rem;
  }
  .nav-overlay .copyright {
    font-size: 1.05rem;
  }
}

@media (min-width: 1025px) {
  .main-nav__wrapper {
    width: 80%;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.825rem;
  }
  .main-nav__item {
    margin: 0 1rem;
    text-align: center;
  }
  .main-nav__links {
    color: #fff;
  }
  .main-nav .toggler {
    width: 3rem;
    height: 3rem;
  }
  .main-nav .lang {
    margin-right: 2rem;
    font-size: 0.85rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav .lang__item {
    font-size: 0.825rem;
  }
  .nav-overlay__item {
    padding: 0.5rem 0;
  }
  .nav-overlay__links {
    line-height: 3rem;
  }
  .nav-overlay__content {
    padding: 1rem 5rem;
  }
  .nav-overlay__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-overlay__image {
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-image: url(../../assets/desktop/home.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .nav-overlay .social {
    padding: 2rem 0;
    font-size: 0.825rem;
  }
  .nav-overlay .copyright {
    font-size: 0.825rem;
  }
  .nav-overlay .lang {
    margin-right: 2rem;
    font-size: 0.85rem;
  }
  .nav-overlay .lang__item {
    font-size: 0.825rem;
  }
}

@media (min-width: 1201px) {
  .main-nav__item {
    margin-right: 1.5rem;
  }
}

.is-scrolled {
  background-color: #131922;
  padding: 0.5rem 1.5rem;
}

@media (min-width: 768px) {
  .is-scrolled {
    padding: 1rem 5rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #131922;
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer__logo {
  width: 4rem;
  margin: 2rem;
}

.footer .logo-inner {
  fill: #fff;
}

.footer__content {
  width: 100%;
  background-color: #0D1117;
}

.footer__list-wrapper {
  position: relative;
  padding: 2rem 1.5rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__item {
  min-width: 40%;
  padding: 1rem 0;
  font-size: 0.875rem;
}

.footer__info {
  padding: 0 1.5rem;
  font-size: 0.7rem;
}

.footer__info::before {
  content: "";
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  padding: 0 1.5rem;
}

.footer .social {
  padding: 2rem 0;
}

.footer .social__item {
  padding-right: 1.5rem;
}

.footer .social .fab {
  padding-right: 0.5rem;
}

.footer .copyright {
  padding: 1rem 0 3rem;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
  .footer__logo {
    width: 5rem;
  }
  .footer__list-wrapper {
    padding: 2rem 5rem;
  }
  .footer__item {
    font-size: 1rem;
  }
  .footer__info {
    padding: 0 5rem;
    font-size: 0.875rem;
  }
}

@media (min-width: 1025px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__logo {
    width: 25%;
    text-align: center;
  }
  .footer .svg {
    width: 6rem;
  }
  .footer__list-wrapper {
    padding: 4rem 3rem;
  }
  .footer__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer__item {
    min-width: auto;
    padding: 0;
    font-size: 0.825rem;
  }
  .footer__info {
    position: relative;
    padding: 0 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.7rem;
  }
  .footer__info::before {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    width: calc(100% - 6rem);
    padding: 0;
  }
  .footer .social {
    padding: 4rem 0;
  }
  .footer .social__item {
    padding-right: 3rem;
  }
  .footer .copyright {
    padding: 0;
  }
}

@media (min-width: 1201px) {
  .footer__list-wrapper {
    padding: 4rem 5rem;
  }
  .footer__info {
    padding: 0 5rem;
  }
  .footer__info::before {
    width: calc(100% - 10rem);
  }
}
/*# sourceMappingURL=main.css.map */