* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img, a {
  width: 100%;
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

nav a {
  color: #fff;
}

ul {
  list-style-type: none;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.topNav {
  position: fixed;
  width: 100%;
  padding: 1.5rem;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 7.5rem;
  z-index: 9;
}

#logo {
  fill: #fff;
}

.rightNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.rightNav nav ul {
  display: none;
}

.lang {
  margin-right: 1.25rem;
  color: #fff;
  font-size: 0.85rem;
}

.lang a {
  padding: 0.25rem;
  color: #fff;
}

.toggler {
  background-color: transparent;
  width: 3rem;
  border: 1px solid #E5E5E5;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 9;
}

.toggler span {
  width: 50%;
  height: 1px;
  background-color: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  border-radius: 9px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.toggler .bar1 {
  top: 45%;
}

.toggler .bar2 {
  top: 55%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #131922;
  overflow: auto;
  z-index: 8;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.overlay .content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 5rem;
}

.overlay .leftBox {
  padding: 2rem 1.5rem;
  position: relative;
  z-index: 9;
  width: 100%;
}

.overlay nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.overlay nav ul li a {
  font-size: 1.65rem;
  line-height: 3rem;
  letter-spacing: 2px;
}

.overlay .social {
  padding: 2rem 0;
  font-size: 0.75rem;
}

.overlay .social a {
  color: #fff;
  padding-right: 1.5rem;
}

.overlay .social i {
  padding-right: 0.5rem;
}

.overlay .btmInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay .copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85rem;
}

.overlay .rightBox {
  position: fixed;
  top: 0;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/desktop/home.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: block;
}

.overlay .rightBox .rightInfo {
  display: none;
}

.is-open .bar1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  left: 25%;
}

.is-open .bar2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  left: 25%;
}

@media (min-width: 768px) {
  .topNav {
    padding: 3rem 5rem;
  }
  .logo {
    width: 12rem;
  }
  .toggler {
    width: 4rem;
    height: 4rem;
  }
  .lang {
    margin-right: 2rem;
    font-size: 1.25rem;
  }
  .lang a {
    font-size: 1.25rem;
  }
  .overlay .leftBox {
    padding: 5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .overlay nav ul li {
    padding: 1.5rem 0;
  }
  .overlay nav ul li a {
    font-size: 3.5rem;
  }
  .overlay .social {
    padding: 4rem 0;
    font-size: 1.25rem;
  }
  .overlay .social a {
    padding-right: 3rem;
  }
  .overlay .social i {
    padding-right: 1rem;
  }
  .overlay .copyright {
    font-size: 1.25rem;
  }
}

@media (min-width: 1025px) {
  .rightNav {
    width: 70%;
  }
  .rightNav nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.85rem;
  }
  .rightNav nav ul li {
    margin: 0 0.5rem;
    text-align: center;
  }
  .lang {
    margin-right: 2rem;
    font-size: 0.85rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lang a {
    font-size: 0.85rem;
  }
  .overlay nav ul li {
    padding: 0.5rem 0;
  }
  .overlay nav ul li a {
    font-size: 2rem;
  }
  .overlay .leftBox {
    padding: 1rem 5rem;
  }
  .overlay .social {
    padding: 5rem 0;
    font-size: 1rem;
  }
  .overlay .btmInfo {
    font-size: 1rem;
  }
  .overlay .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .overlay .wrapper .lang a {
    font-size: 1rem;
  }
  .overlay .rightBox {
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-image: url(../../assets/desktop/home.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

@media (min-width: 1201px) {
  .rightNav {
    width: 75%;
  }
  .rightNav nav ul {
    font-size: 1rem;
  }
  .rightNav nav ul li {
    margin-right: 1.75rem;
  }
  .lang {
    margin-right: 2rem;
    font-size: 1rem;
  }
  .lang a {
    font-size: 1rem;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131922;
  color: #fff;
}

footer a {
  color: #fff;
}

.logoBox {
  width: 4rem;
  margin: 2rem;
}

#footerLogo {
  fill: #fff;
}

.infoBox {
  width: 100%;
  background-color: #0D1117;
}

.footerLinks {
  position: relative;
  padding: 2rem 1.5rem;
}

.footerLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerLinks ul li {
  min-width: 40%;
  padding: 1rem 0;
  font-size: 0.875rem;
}

.footerInfo {
  padding: 0 1.5rem;
  font-size: 0.75rem;
}

.footerInfo .footerSocial {
  padding: 2rem 0;
}

.footerInfo .footerSocial a {
  padding-right: 1.5rem;
}

.footerInfo .footerSocial i {
  padding-right: 0.5rem;
}

.footerInfo .copyright {
  padding: 1rem 0 3rem;
  color: rgba(255, 255, 255, 0.5);
}

.footerInfo::before {
  content: "";
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  padding: 0 1.5rem;
}

@media (min-width: 768px) {
  .footerLinks {
    padding: 2rem 5rem;
  }
  .footerLinks ul li {
    font-size: 1.25rem;
  }
  .footerInfo {
    padding: 0 5rem;
    font-size: 1rem;
  }
}

main {
  height: 100vh;
}

@media (min-width: 1025px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .logoBox {
    width: 25%;
    text-align: center;
  }
  .logoBox svg {
    width: 8rem;
  }
  .footerLinks {
    padding: 4rem 3rem;
  }
  .footerLinks ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footerLinks ul li {
    min-width: auto;
    padding: 0;
    font-size: 1rem;
  }
  .footerInfo {
    position: relative;
    padding: 0 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerInfo .footerSocial {
    padding: 4rem 0;
  }
  .footerInfo .footerSocial a {
    padding-right: 3rem;
  }
  .footerInfo .copyright {
    padding: 0;
  }
  .footerInfo::before {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    width: calc(100% - 6rem);
    padding: 0;
  }
}

@media (min-width: 1201px) {
  .footerLinks {
    padding: 4rem 5rem;
  }
  .footerInfo {
    padding: 0 5rem;
  }
  .footerInfo::before {
    width: calc(100% - 10rem);
  }
}
/*# sourceMappingURL=main.css.map */