.banner {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    position: relative;
    @include flex($justify-content: flex-end, $flex-direction: column);
    &__hero {
        background-color: black;
        display: none;
        animation: zoom-out 8s linear, fade 8s linear;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__title {
        color: $white;
        font-size: 1.25rem;
        margin: 1rem 1.5rem;
        line-height: 1.5;
    }
    &__info {
        @include flex($justify-content: space-between, $align-items: center);
        margin: 1.5rem;
    }

    .scroll-btn {
        color: $white;
        font-size: 0.85rem;
        border: none;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $white;
        background: transparent;
        cursor: pointer;
    }

    .loader {
        display: flex;
        &__circle {
            background-color: transparent;
            margin: 0.85rem;
            border-radius: 50%;
            border: 1px solid $copywrite_dark-grey;
            position: relative;
            height: 8px;
            width: 8px;
            @include flex($justify-content: center, $align-items: center);
            cursor: pointer;
        }
        .svg {
            position: absolute;
            width: 26px;
            height: 26px;
            transform: rotateY(-180deg) rotateZ(-90deg);
        }
        .svg__circle {
            stroke-dasharray: 113px;
            stroke-dashoffset: 0px;
            stroke-linecap: round;
            stroke-width: 0px;
            stroke: $white;
            fill: none;
        }
    }

    .is-active {
        &.loader__circle {
            background-color: $white;
        }
        .svg__circle {
            stroke-width: 1px;
            animation: countdown 8s linear forwards;
        }
    }

    .hero1 {
        background-image: url(../assets/mobile/index/mv01-sp.jpg);
    }
    .hero2 {
        background-image: url(../assets/mobile/index/mv02-sp.jpg);
    }
    .hero3 {
        background-image: url(../assets/mobile/index/mv03-sp.jpg);
    }
    .hero4 {
        background-image: url(../assets/mobile/index/mv04-sp.jpg);
    }
}
  
@include md {
    .banner {
        &__title {
            margin: 2rem 5rem;
            font-size: 2rem;
        }
        &__info {
            margin: 3rem 5rem;
        }
        .loader {
            &__circle {
                width: 10px;
                height: 10px;
                margin: 1.5rem;
            }
            .svg {
                width: 32.5px;
                height: 32.5px;
            }
            .svg__circle {
                r: 12.5;
                cx: 16.5;
                cy: 16.5;
            }
        }
        .scroll-btn {
            font-size: 1rem;
        }
    }
}

@include lg {
    .banner {
        &__title {
            margin: 1rem 5rem;
        }
        &__info {
            margin: 1rem 5rem 3rem;
        }
        .scroll-btn {
            font-size: 0.825rem;
        }
        .loader {
            &__circle {
                width: 8px;
                height: 8px;
                margin: 1.5rem;
            }
            .svg {
                width: 30px;
                height: 30px;
            }
            .svg__circle {
                r: 10.5;
                cx: 14.5;
                cy: 14.5;
            }
        }
        .hero1 {
            background-image: url(../assets/desktop/index/mv01@2x.jpg);
        }
        .hero2 {
            background-image: url(../assets/desktop/index/mv02@2x.jpg);
        }
        .hero3 {
            background-image: url(../assets/desktop/index/mv03@2x.jpg);
        }
        .hero4 {
            background-image: url(../assets/desktop/index/mv04@2x.jpg);
        }
    }
}