.parallax {
    padding: 3rem 1.5rem;
    position: relative;
    background-image: url(../../assets/mobile/followus.jpg);
    background-attachment: fixed;
    background-size: cover;
    &__wrapper {
        width: 100%;
        color: $white;
    }

    .box {
        width: 100%;
        height: 100%;
        padding: 10% 2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: transform 500ms linear;
        overflow: hidden;
        &__wrapper {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 1.5rem 0;
        }
        &__link {
            @include flex($justify-content: center, $align-items: center, $flex-direction: column);
            color: $white;
            .fab {
                padding: 1rem;
                font-size: 2rem;
            }
        }
        &:hover {
            transform: scale(1.1);
        }
    }

    .box1 {
        background-image: url(../../assets/mobile/facebook-sp.jpg);
    }
    .box2 {
        background-image: url(../../assets/mobile/instagram-sp.jpg);
    }
    .box3 {
        background-image: url(../../assets/mobile/twitter-sp.jpg);
    }
}

@include md {
    .parallax {
        background-image: url(../../assets/desktop/followus.jpg);
        @include flex($justify-content: center, $align-items: center);
        &__wrapper {
            width: 90%;
            @include flex($justify-content: space-between, $flex-wrap: wrap);
        }
        &__title {
            width: 100%;
            font-size: 1.75rem;
        }

        .box {
            width: 100%;
            padding: 30% 2rem;
            &__wrapper {
                width: 33%;
                overflow: hidden;
            }
        }
    }
}

@include lg {
    .parallax {
        &__wrapper {
            margin: 4rem 0;
            flex-wrap: nowrap;
        }
        &__title {
            width: 26%;
        }
    
        .box__wrapper {
            width: 24%;
            margin: 0;
        }
    }
}