.journal {
    padding: 0rem 1.5rem 3rem;

    .blog {
        overflow: hidden;
        &__image {
            transition: transform 300ms linear;
            &:hover {
                transform: scale(1.05);
            }
        }
        &__info {
            margin: 0.5rem 0;
        }
        &__date {
            color: $journal-date_light-grey;
            font-size: 0.75rem;
        }
        &__title {
            padding: 0.25rem 0;
            font-size: 0.75rem;
        }
    }
}

@include md {
    .journal {
        padding: 0rem 5rem 3rem;
        &__blog-wrapper {
            @include flex($align-items: center)
        }
        .blog {
            margin-right: 2rem;
            width: 45%;
        }
    }
}

@include lg {
    .journal {
        padding: 0rem 8rem 3rem;
        .blog {
            width: 35%;
            &__title {
                font-size: 0.875rem;
            }
        }
    }
}