.journal {
    padding: 3rem 1.5rem;
    &__header {
        margin-bottom: 2rem;
        @include flex($justify-content: space-between, $align-items: center);
    }
    &__link {
        width: auto;
        position: relative;
        padding-right: 2.5rem;
        font-size: 0.875rem;
        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 20px;
            height: 1px;
            background-color: $black;
            transform: translate(0px, 6px);
        }
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 8px;
            height: 8px;
            border-top: 1px solid $black;
            border-right: 1px solid $black;
            transform: rotate(45deg) translate(1px, 2px);
        }
    }

    .blog {
        overflow: hidden;
        &__image {
            transition: transform 300ms linear;
            &:hover {
                transform: scale(1.05);
            }
        }
        &__info {
            margin: 0.5rem 0;
        }
        &__date {
            color: $light-grey;
        }
        &__title {
            padding: 0.25rem 0;
            font-size: 0.8rem;
        }
    }
}

@include md {
    .journal {
        padding: 3rem 5rem;
        .blog {
            width: 45%;
        }
    }
}

@include lg {
    .journal {
        .blog {
            width: 30%;
        }
    }
}