.next {
    position: relative;
    margin-top: 5rem;
    &-container {
        overflow: hidden;
    }
    &__image {
        background-image: url(../../assets/mobile/kurumeKasuri/link-sp.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 7rem 0;
        transition: transform 500ms linear;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__text {
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__heading {
        font-size: 2rem;
        padding-bottom: 1rem;
        text-align: center;
    }
    &__link {
        position: relative;
        padding-right: 2rem;
        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            width: 20px;
            height: 1px;
            background-color: $white;
            transform: translate(0, -50%);
        }
        &::after {
            content: "";
            position: absolute;
            right: 2px;
            top: 50%;
            width: 8px;
            height: 8px;
            border-top: 1px solid $white;
            border-right: 1px solid $white;
            transform: rotate(45deg) translate(-2px, -50%);
        }
    }
}

@include md {
    .next {
        &__image {
            padding: 10rem 0;
        }
        &__heading {
            font-size: 2.75rem;
        }
        &__link {
            font-size: 1.25rem;
        }
    }
}

@include lg {
    .next {
        margin-top: 10rem;
        position: relative;
        &__image {
            background-image: url(../../assets/desktop/kurumeKasuri/link@2x.jpg);
            padding: 15rem;
        }
        &__text {
            @include flex($justify-content: space-between, $align-items: center);
            width: 100%;
            padding: 0 15rem;
        }
        &__heading {
            font-size: 3.75rem;
        }
    }
}