footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $dark_blue;
    color: $white;
    a {
        color: $white;
    }
}

.logoBox {
    width: 4rem;
    margin: 2rem;
}

#footerLogo {
    fill: $white;
}

.infoBox {
    width: 100%;
    background-color: $footer_black;
}

.footerLinks {
    position: relative;
    padding: 2rem 1.5rem;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            min-width: 40%;
            padding: 1rem 0;
            font-size: 0.875rem;
        }
    }
}

.footerInfo {
    padding: 0 1.5rem;
    font-size: 0.75rem;
    .footerSocial {
        padding: 2rem 0;
        a {
            padding-right: 1.5rem;
        }
        i {
            padding-right: 0.5rem;
        }
    }
    .copyright {
        padding: 1rem 0 3rem;
        color: $dark_grey;
    }
    &::before {
        content: "";
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        display: block;
        padding: 0 1.5rem;
    }
}

@include md {
    .footerLinks {
        padding: 2rem 5rem;
        ul li {
            font-size: 1.25rem;
        }
    }
    .footerInfo {
        padding: 0 5rem;
        font-size: 1rem;
    }
}

@include lg {
    footer {
        flex-direction: row;
    }
    .logoBox {
        width: 25%;
        text-align: center;
        svg {
            width: 8rem;
        }
    }
    .footerLinks {
        padding: 4rem 3rem;
        ul {
            flex-wrap: nowrap;
            li {
                min-width: auto;
                padding: 0;
                font-size: 1rem;
            }
        }
    }
    .footerInfo {
        position: relative;
        padding: 0 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footerSocial {
            padding: 4rem 0;
            a {
                padding-right: 3rem;
            }
        }
        .copyright {
            padding: 0;
        }
        &::before {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            width: calc(100% - 6rem);
            padding: 0;
        }
    }

}

@include xl {
    .footerLinks {
        padding: 4rem 5rem;
    }
    .footerInfo {
        padding: 0 5rem;
        &::before {
            width: calc(100% - 10rem);
        }
    }
}