$white: #fff;
$black: #000;

$lightgray_pagination: #d3d3d3;
$footer_black: #0D1117;
$dark_blue: #131922;
$btn_border: #E5E5E5;
$footer_grey-underline: rgba(255, 255, 255, 0.2);
$copywrite_dark-grey: rgba(255, 255, 255, 0.5);
$silver_underline: #E3E3E3;
$journal-date_light-grey: rgba(19, 25, 34, 0.5);
$contact-info: rgba(19, 25, 34, 0.5);
$access-info: rgba(19, 25, 34, 0.8);
$light-gray__background: #FAFAFA;