$white: #fff;
$black: #000;
$dark_blue: #131922;
$btn_border: #E5E5E5;
$dark_grey: rgba(255, 255, 255, 0.5);
$silver_underline: #E3E3E3;
$grey_underline: rgba(255, 255, 255, 0.2);
$footer_black: #0D1117;
$light-grey: rgba(19, 25, 34, 0.5)